@model FillFull.Models.StartWorkViewModel
<div class="row">
    <div class="col-12 col-md-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-primary" data-feather="clock"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">@Model.Total_Hour</h3>
                        <div class="mb-0">Hours</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="fa fa-percent fa-2x"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">£ @Model.Total_Wage</h3>
                        <div class="mb-0">Wage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
